/* Container for the login details */
.Signup-details-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Optional: Add background color if needed */
  height: max-content;
}

/* Form styling */
.details-form {
  display: flex;
  flex-direction: column;
}
.unique-button{
  font-size: xx-small;

}
/* Form group styling */
.form-group {
  margin-bottom: 15px;
  width: 100%;
}

/* Label styling */
label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

/* Input field styling */
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Button styling */
button {
  padding: 5px;
  margin-top: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
button:hover {
  background-color: #0056b3;
}
