.container {
    max-width: 850px;
    margin: 20px auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
  }
  
  .col {
    flex: 1;
    text-align: center;
    margin: 10px;
  }
  
  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .team-member-details {
    text-align: center;
  }
  
  .team-member-details h3 {
    margin: 5px 0;
  }
  