.login-details-container {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    /* background-color: beige; */
    margin: 0 auto; /*horizontally center the container */
    height: 100vh; /* occupy the full viewport height */
  }
  
  .background-video {
    width: 85%;
    height: auto;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 40%; /* Ensures buttons take full width */
  }
  
  button {
    margin-top: 40px;
    border-radius: 10px;
    
    font-size: 18px;
    cursor: pointer;
  }
  
  .Login {
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  .Sign-up {
    background-color: #28a745;
    color: white;
    border: none;
  }
  