body{
    background-color: antiquewhite;
}


.navbar {
    background-color: white;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 5;
    padding: 10;
    display: flex;
    /* Use flexbox */
    justify-content: space-around;
    /* Distribute items equally */
}

.navbar ul li a {
    display: block;
    color: black;
    justify-content: space-around;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: rgb(22, 21, 21);
}


/* FOR IMAGE */

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    /*  */
    /* Adjust margin as needed */
}

.profile {
    text-align: center;
    margin: 10px 50px;
    /* Adjust margin as needed */
    color: black;
}

.profile img {
    border-radius: 50%;
    border: 2px solid;
    /* Specify border style as solid */
    height: 150px;
    width: 170px;
    margin-bottom: 10px;
}

h2 {
    color: black;
}
.section-core {
    padding: 20px;
    margin-left: 18%;
    display: flex;
    border-radius: 20px;
    justify-content: center; /* Center the container horizontally */
     /* Center the container vertically */
    background: #EECDA3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 800px;
    text-align: center;
    height: 80vh;
}
.section-core-d{
    padding: 5px;
    text-align: left;
}
.section-buttons{
    font-size: small;
}


.section-image {
    padding: 20px;
    max-width: 52%; /* Ensure the image doesn't exceed its container width */
    border-radius: 40px;
    /* height: auto; Maintain aspect ratio */
}

.core-feature{
    padding: 20px;
    margin-top: 30PX;
    margin-left: 18%;
    max-width: 800px;
    border-radius: 20px;
    /* background-color: white; */
    background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.feature-container{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    margin: 10px;
    border-radius: 10%;
    color: white;
}
.feature-container h3 {
    font-size: 20px; /* Adjust the font size for h3 */
}
.feature-container img{
    width: 20px;
    margin-bottom: 10px;
}
.uniquebuttons{
    margin-top: 50px;
    font-size: x-small;
}

.feature-container p {
    font-size: 10px; /* Adjust the font size for p */
}

.FAQ{
    
    padding: 20px;
    margin-top: 30PX;
    margin-left: 18%;
    max-width: 800px;
    border-radius: 20px;
    /* background-color: white; */
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
.FAQ h1{
    text-align: left;
    padding: 10px;
}
.first-para{
    font-size: medium;
    margin-top: -10px;
    margin-bottom: 25px;
}


.question-start,
.question-end {
    display: flex;
}

.Heading-questions{
    font-size: medium;
}
.paragraph-questions{
    font-size: small;
    margin-bottom: 20px;
}

.que1,
.que2,
.que3,
.que4 {
    flex: 1;
    margin-right: 10px; /* Adjust spacing between questions if needed */
}

/* Adjust styling as needed */

/* Adjust spacing and styling for headers and paragraphs */
h4,
p {
    margin: 5px;
}
