
body, html {
    height: 100%; /* Ensure body and html elements take full height of the viewport */
    margin: 0; /* Remove default margin */
}
.navbar {
    background-color: white;
    overflow: hidden;
    
}

.navbar ul {
    list-style-type: none;
    display: flex;
    /* Use flexbox */
    justify-content: space-around;
    /* Distribute items equally */
}

.navbar ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: transform 0.3s; /* Add transition for smooth animation */
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: rgb(22, 21, 21);
    transform: scale(1.1); /* Zoom in effect on hover */
}
.container-dashboard{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center; /* Add align-items to center vertically */
    min-height: 100%; 
    
}
.firstContainer{
    background-color: white;
    width: 550px;
    border-radius: 15px;
    height:450px;
    margin: 10px;
    
}
.secondContainer{
    background-color: white;
    width: 350px;
    height:450px;
    margin: 10px;
    border-radius: 15px;
    
}

.profile {
    text-align: center;
}

.image {
    width: 100px;
    height: 100px;
    background-color: #ccc; /* Placeholder color */
    border-radius: 50%; /* To make it circular */
    margin: 30px auto 10px; /* Center horizontally with auto margin */
    border: 3px solid black;
    overflow: hidden;
}

.image img {
    width: 100%; /* Make the image fill the circular container */
    height: 100%; /* Make the image fill the circular container */
    object-fit: cover; /* Ensure the image covers the circular space */
    
}

.details p1{
    font-size: x-large;
    font-weight: bold;
    margin: 2px 0;
}

.details p{
    margin: 5px 0;
}

.detail {
    margin-left: 0; /* Reset default margin */
}

.detail p {
    margin: 5px 0; /* Adjust margin between paragraphs */
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.box1 {
    text-align: center;
    background-color: antiquewhite;
    margin-top: 25px;
    margin-left: 28px;
    width: 290px;
    height: 180px; /* Increased height to accommodate buttons */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    
}

.buttons button {
    width: 120px;
    height: 40px;
    background-color: rgb(239, 241, 241);
    border-radius: 20px;
    color: #000;
}
.secondContainer p{
    font-size: x-large;
}


.box2 {
    background-color: antiquewhite;
    text-align: center;
    padding: 2px;
    margin-top: 20px;
    margin-left: 28px;
    width: 290px;
    border-radius: 15px;
    height: 180px;
    
}
.box2 p1{
    font-size: x-large;
    margin: 10px;
    font-weight: bold;
}

#vehicleTable {
    width: 100%;
    margin-top: 12px;
    border-collapse: collapse;
    
}

#vehicleTable th,
#vehicleTable td {
    border: 1px solid #000;
    
}