.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: center;
    max-width: fit-content;
    padding: 30px;
    border-radius: 20px;
    margin: auto;
    margin-top: 40px;
    /* height: 100vh; Adjust as needed */
  }
  
  .qr-container h2 {
    margin-bottom: 20px;
  }
  
  .qr-container p {
    margin-top: 20px;
  }